body{
    margin: 0;
    padding: 0;
    background-image: url(/Portfolio/media/360_F_601171827_GwbDHEuhisbGFXRfIpXFhtf7wAvsbLut.jpg);
    background-size: cover;
    color: gray;
    display: flex;
    padding: 40;
}
#RightDiv{
    text-align: right;
    width: 70%;
    border-radius: 10px;
}


#StudyPage{
    background-image: url(/Portfolio/media/images\ \(2\).jpeg);
    background-size: cover;
    margin: 100px;
    color: black;
    justify-content:center ;
}
#StudyDiv{
    border-radius: 30%;
    height: 400px;
    width: 500px;
    background-color: aliceblue;
    text-align: center;
}
#S_to_H{
    background-color: darkgray;
}


#SkillsPage{
    background-image: url(/Portfolio/media/SkillsImage.jpeg);
}

#SkillsDiv{
   margin-top: 10%;
   margin-left: 30%;
}